@{
    ViewData["Title"] = "Potwierdź adres email"; 
    var account = Context.Items["userAccount"] as QuizHouse.Dto.AccountDTO;
}

<div class="container page-container">
    <div>Aby korzystać z tego konta musisz najpierw potwierdzić swój adres email.</div>
    
    <div class="text-center">Email: @account.Email</div><div class="mb-3 text-center">
        <button type="button" id="resendEmail" class="btn btn-primary mt-2">Wyślij ponownie</button>
        <a href="@Url.Action("Logout", "Home")" class="btn btn-primary mt-2" role="button">Wyloguj</a>
    </div>
</div>

@section Scripts {
		<script>
			const resendEmailUrl = '@Url.Action("ResendEmail", "Home")';
		</script>
		<script src="~/js/common.js"></script>
		<script src="~/js/email.js"></script>
}