@{
	ViewData["Title"] = "Gra niestandardowa";
	Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

@{
	await Html.RenderPartialAsync("~/Views/Shared/_NavBar.cshtml");
}

<div class="container mb-5 center-main">
	<main role="main" class="pb-3">
		<div class="row">
			
		</div>
	</main>
</div>

@section Scripts {
		<script>
		</script>
		<script src="~/js/common.js"></script>
}