body {
    background-color: #3f4a55;
    color: white;
}

body, html {
    height: calc(100%);
}

.category-selection {
    cursor: pointer;
    padding: 0.5rem;
    width: 200px;
}

    .category-selection[selected] {
        border: 2px solid #73AD21;
        border-radius: 1rem;
    }

.center-main {
    display: grid;
    justify-content: center;
    align-items: center;
}

.username-cell {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.btn-question {
    background-color: #666f78;
    color: white;
    width: 100%;
}

    .btn-question[wrong] {
        background-color: #d96857;
    }

    .btn-question[correct] {
        background-color: #40af83;
    }

.question-disabled {
    pointer-events: none;
}

.question-img[disabled] {
    display: none;
}

.borderless td, .borderless th {
    border: none;
}

.owner-name {
    color: #e80d7b;
    font-weight: bold;
}

.creator-name {
    color: red;
    font-weight: bold;
}

.center-nav {
    height: calc(100% - 7rem);
    max-width: initial;
    overflow: auto;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

div.dataTables_length select {
    color: white;
    background-color: #3f4a55 !important;
}

div.dataTables_filter input {
    background-color: #3f4a55;
    color: white;
    border-color: #3f4a55;
}

table.dataTable thead th,
table.dataTable.no-footer,
table .dataTable thead td {
    border-bottom: 1px solid white !important;
}

div.dataTables_filter input:hover {
    border-color: #576675;
}

div.dataTables_filter input:focus {
    background-color: #303840;
    color: white;
    border-color: #303840;
}

img[src=""],
img[src="null"] {
    display: none;
}