@{
	ViewData["Title"] = "Gra niestandardowa";
	Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

@{
	await Html.RenderPartialAsync("~/Views/Shared/_NavBar.cshtml");
}

<div class="container mb-5 footer-padding">
	<main role="main" class="pb-3">
		<div class="row">
			<div class="col">
				<h3>Stwórz nowe lobby</h3>
				<form class="needs-validation p-2" novalidate>
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="twitchLobby">
						<label class="form-check-label text-white" for="twitchLobby" data-toggle="tooltip" title="Tylko osoby z połączonym kontem twitch.tv będą mogły dołaczyć. Ich nazwa użytkownika także zostanie zmieniona">
							Twitch lobby
						</label>
					</div>
					<div class="mb-1">
						<button type="submit" data-buttontype="createLobby" class="btn btn-primary mt-2">Stwórz</button>
					</div>
				</form>
			</div> 
			<div class="col">
				<h3>Dołącz do lobby</h3>
			</div>
		</div>
	</main>
</div>

@section Scripts {
	<script>
		const createLobbyUrl = '@Url.Action("CreateLobby", "Lobby")';
	</script>
	<script src="~/js/common.js"></script>
	<script src="~/js/customGame.js"></script>
}