@{
	ViewData["Title"] = "Panel admina - Pytania";
	Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

@model QuizHouse.Models.AdminProfileModel

@section Stylesheets {
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
}

@{
	await Html.RenderPartialAsync("~/Views/Shared/_NavBar.cshtml");
}


<div class="container mb-5">
	<main role="main" class="pb-3">
		<div class="row">
			<div class="row m-3 p-3 border border-secondary border-3 rounded">
				@if (Model.Account != null)
				{
					<h5 class="text-center">Profil użytkownika @Model.Account.Username</h5>
				}
				else
				{
					<h5 class="text-center">Błedne id użytkownika</h5>
				}
			</div>
		</div>
	</main>
</div>

@section Scripts {
	<script>
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
	<script src="~/js/common.js"></script>
	<script src="~/js/admin/common.js"></script>
}